{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
   <title>scriptBoris blog</title>
   <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
   <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
   <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>
   <div id="site">
      <div id="head">
         <div id="logo">
            <div><a href="/"> </a></div>
         </div>
         {% if request.user.is_authenticated == False %}
            <div id="userBox">
               <form method="POST" action="http://{{ request.get_host }}/auth/login">{% csrf_token %}
                  <input type="text"     name="login"    required placeholder="Логин">
                  <input type="password" name="password" required placeholder="Пароль">
                  <button class="userBoxBtn" type="submit">Вход</button>
                  <button class="userBoxBtn" type="button"><a href="http://{{ request.get_host }}/auth/register">Регистрация</a></button>
               </form>
            </div>
         {% else %}
            <div id="userBox">
               Вы вошли как <a href="/user/{{ request.user.username }}">{{ request.user.username }}</a> (<a href="http://{{ request.get_host }}/auth/logout">Выйти</a>)
            </div>
            <div class="menu" style="z-index:20;">
               <li><a href="{% url 'post_new' %}">Новый пост</a></li>
               <li><a href="/admin">Панель управления</a>
                  <ul>
                     <li><a href="https://www.pythonanywhere.com/user/scriptBoris/webapps/">Web</a></li>
                     <li><a href="https://www.pythonanywhere.com/user/scriptBoris/consoles/">Consoles</a></li>
                     <li><a href="https://www.pythonanywhere.com/user/scriptBoris/files/home/scriptBoris">Files</a></li>
                  </ul>
               </li>
               <li><a href="#">Switch to</a>
                  <ul>
                     <li><a href="http://scriptboris.pythonanywhere.com/">pythonanywhere</a></li>
                     <li><a href="http://localhost:8000/">local machine</a></li>
                  </ul>
               </li>
            </div>
         {% endif %}
         <!--EVERYBODY MENU-->
         <div class="menu">
            <li><a href="#">Проекты</a>
               <ul>
                  <li><a href="#">Мой блог</a></li>
                  <li><a href="#">Фриланс</a></li>
                  <li><a href="#">Заказы друзей</a></li>
                  <li><a href="#">Учеба</a></li>
               </ul>
            </li>
            <li><a href="/admin">Креатив</a>
               <ul>
                  <li><a href="#">Веб-дизайн</a></li>
                  <li><a href="#">3D-арт</a></li>
                  <li><a href="#">2D-арт</a></li>
               </ul>
            </li>
            <li><a href="#">Категории</a>
               <ul>
                  <li><a href="#">Мысли в слух</a></li>
                  <li><a href="#">Верхний интернет</a></li>
                  <li><a href="#">Нижний интернет</a></li>
               </ul>
            </li>
            <li><a href="#">О себе</a></li>
         </div>
      </div>
      <div id="content">
         {% block content %}
         {% endblock %}
      </div>
      <footer>
         <div>2055(c) Все права защищены, лалки</div>
      </footer>
   </div>
</body>
</html>
