{% extends 'blog/base.html' %}


{% block content %}
   {% for post in posts %}
      <div class="post">
         <div class="post_head">
            <span class="post_date">опубликованно: {{ post.published_date }}</span>
            <a class="post_title" href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a>
         </div>
         <div class="post_text">{{ post.text }}</div>
         <div class="post_footer">
            <a href="#">
               <span>{{ post.rate }}</span>
            </a>
         </div>
      </div>
   {% endfor %}
   <div class="clear"></div>
   <div id="paginator">
      <ul>
      {% if posts.has_previous %}
         <li class="arrow"><a href="/page/{{ posts.previous_page_number }}">&laquo;</a></li>
      {% endif %}

      {% for page in posts.paginator.page_range %}

         {% if page == posts.number %}
            <li><a class="current" href="/page/{{ page }}">{{ page }}</a></li>
         {% else %}
            <li><a href="/page/{{ page }}/">{{ page }}</a></li>
         {% endif %}

      {% endfor %}

      {% if posts.has_next %}
         <li class="arrow"><a href="/page/{{ posts.next_page_number }}">&raquo;</a></li>
      {% endif %}
      </ul>
   </div>

{% endblock content %}
