* {
   padding: 0;
   margin: 0;
}
html{
   min-height: 100%;
}
body {
   background-attachment: fixed;
   background-repeat: no-repeat;
	background: linear-gradient(15deg, #ddd, #ccc, #eee);
}

#site {
   width: 700px;
   height: 100%;
   margin: auto;
}
#logo{
   position: relative;
   float:left;
   height: 300px;
   width: 100%;
   background-image: url(boris03.jpg);
   background-position: center;
   background-size: 700px;
   z-index: 0;
}
#logo a{
   display: block;
   position:relative;
   float: left;
   top: 232px;
   width: 100%;
   text-align: center;
   background: linear-gradient(90deg, #ddd, #eee, #ddd);
   color: #444;
   font-size: 36pt;
   text-decoration: none;
   font-family: 'Lobster', cursive;
}
#logo a:hover {
   background: linear-gradient(90deg, #eee, #ddd, #eee);
   color: #000;
}
#userBox{
   position:absolute;
   float: left;
   right:0px;
   background-color: #fff;
   padding:5px;
   text-align: right;
   z-index: 1;
}
#userBox input{
   float: left;
   width: 100px;
   height:20px;
   margin: 2px;
}
#userBox label{
   width:70px;
   text-align: left;
   margin: 0 5px 0 0;
   padding: 0;
}

#userBox button{
   float:left;
   height:20px;
   padding: 0 3px 0 3px;
   margin: 2px 2px 2px 2px;
   font-size: 7pt;
}
#userBox a{
   text-decoration:none;
   font-size: 9pt;
}
.menu{
   display: block;
   position: relative;
   float:left;
   height: 40px;
   width:100%;
   background-color: #222;
   z-index: 10;
}

.menu li {
   display: block;
   position: relative;
   float: left;
   list-style: none;
   overflow: hidden;
   width: 25%;
}
.menu li a {
   display: block;
   padding: 10px;
   color: #eee;
   text-decoration:none;
   text-align:center;
}
.menu a:hover{
   background-color: #444;
}
.menu ul{
   display: none;
}
.menu ul li {
   display: block;
   position: relative;
   float:none;
   background-color: #222;
   color: #eee;
   width: inherit;
}
.menu li:hover > ul {
  display: block;
}
#content{
   display: block;
   float:left;
   width: 100%;
   background-color: #ccc;
   z-index: 2;
}

.post {
   float: left;
   width: 100%;
   padding: 10px;
   background: linear-gradient(130deg, #ddd, #eee, #fff);
}
.post_head{
   float:left;
   padding: 0 0 10px 10px;
   width: 98%;
}
.post_date{
   float:right;
   width:33%;
   text-align: right;
}
.post_title {
   float:left;
   position: relative;
   width: 50%;
   text-decoration: none;
   font-family: 'Constantia';
   font-style: italic;
   font-size: 20pt;
   line-height: 25px;
   color: #333;
}
.post_title:hover {
   text-decoration: none;
   color: #000;
}
.post_edit, .post_delete {
   display: block;
   float:right;
   position:relative;
   height:38px;
   width:38px;
}
.post_edit  {background-image: url(post_edit.png);}
.post_delete{background-image: url(post_delete.png);}
.post_text p{
   padding: 0 10px 0 10px;
   display: block;
   float:left;
}
.post-form label{

}
.post-form textarea, .post-form input{
   width:100%;
}
